body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fdf4e3;
  }
  
  .menu-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf4e3;
    border-left: 20px solid #d04a02;
    border-right: 20px solid #3e7631;
    border-top: 10px solid #fdf4e3;
    border-bottom: 10px solid #fdf4e3;
  }
  
  .restaurant-title {
    text-align: center;
    font-size: 48px;
    color: #e57373;
    margin-bottom: 40px;
  }
  
  .menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menu-category {
    width: 48%;
    margin-bottom: 40px;
  }
  
  .category-title {
    font-size: 36px;
    color: #ffb300;
    margin-bottom: 20px;
  }
  
  .menu-item {
    display: flex;
    align-items: center; /* Vertically center align */
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu-item-image {
    width: 150px; /* Increased image size */
    height: 150px; /* Increased image size */
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .menu-item-details {
    flex: 1;
  }
  
  .menu-item-name {
    font-size: 24px;
    color: #333;
  }
  
  .menu-item-description {
    font-size: 16px;
    color: #777;
    margin: 10px 0;
  }
  
  .menu-item-price {
    font-size: 20px;
    color: #e57373;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .menu-category {
      width: 100%;
    }
  
    .menu-item {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .menu-item-image {
      margin: 0 0 10px 0;
    }
  
    .menu-item-name,
    .menu-item-price {
      font-size: 20px;
    }
  
    .menu-item-description {
      font-size: 14px;
    }
  }
  